.fileUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px dashed #aaa;

  background-color: transparent;
  box-sizing: border-box;
  width: 50%;
  color: #aaa;
}
.filesList {
  display: flex;
  flex-direction: row;
  gap: 2px;
  /* padding: 20px; */
}
.filesList li {
  /* delete cursor icon on hover */
  display: flex;
  align-items: center;
  background-color: #252525;
  color: white;
  font-weight: normal;
  font-size: 0.9rem;
  width: fit-content;
  padding: 5px 10px;
  gap: 5px;
  /* border-radius: 4px; */
}
.minimize {
  display: none;
}
.parent {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  gap: 10px;
  height: 80vh;
}
.text {
  width: 50%;
}
.textAreaContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;

  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.textAreaContainer textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  font-family: "MyFont", sans-serif;
  background-color: transparent;
  color: #aaa;
}
.textAreaContainer textarea::placeholder {
  font-family: "MyFont", sans-serif;
}
.textAreaContainer button {
  width: 100%;
  padding: 6px;
  font-family: "MyFont", sans-serif;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: white;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.textAreaContainer button:hover {
  background-color: red;
  color: white;
}
.or {
  margin: auto 0;
  color: #aaa;
}
